.navbar {
	background-color: #fff;
	height: 80px;
	display: flex;
	justify-content: start;
	align-items: center;
	border-bottom: 1px solid #eee;
	box-shadow: 5px 0 20px rgba(0,0,0,0.05);
}

.menu-bars{
	margin-left: 16px;
	font-size: 2rem;
	background: none;
	color: #555;
}

.menu-bars.top{
	margin-left: 250px;
}


.sidebar {
	&.nav-menu{
		background-color: #fff;
		width: 250px;
		height: 100vh;
		display: flex;
		justify-content: center;
		position: fixed;
		top: 0;
		left: -100%;
		transition: 850ms;
		border-right: 1px solid #eee;
		box-shadow: 0 5px 20px rgba(0,0,0,0.05);
		&.active{
			left: 0;
			transition: 350ms;
		}
	}

	.nav-text{
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 8px 0px 8px 16px;
		list-style: none;
		height: 60px;
		a {
			text-decoration: none;
			color: #444;
			font-size: 18px;
			width: 95%;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 0 16px;
			border-radius: 4px;

			&:hover{
				text-decoration: none;
				//background-color: #6c5dd314;
				//color: #444;
				background-color: #6c5dd3;
				color: #f9f9f9;
			}
		}
		//&.active{
			//a{
				//text-decoration: none;
				//background-color: #6c5dd3;
				//color: #f9f9f9;
			//}
		//}
	}

	.nav-menu-items{
		width: 100%;
	}

	.navbar-toggle{
		background-color: #fff;
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: end;
		align-items: center;
	}

	span{
		margin-left: 16px;
	}
}

